<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello Vue</title>
    <!--import vue-->
    <script type="text/javascript" src="../js/vue.js"></script>
  </head>
  <body>
    <div id="root">
      <h1>学生信息</h1>
      <h2>姓名：{{student.name}}</h2>
      <h2>年龄：{{student.age}}</h2>
      <h2 v-if="student.gender">性别：{{student.gender}}</h2>
      <h2>爱好：</h2>
      <ul>
        <li v-for='(h,index) in student.hobbies' :key="index">{{h}}</li>
      </ul>
      <h2>朋友：</h2>
      <ul>
        <li v-for='(friend,index) in student.friends' :key="index">
          {{friend.name}}--{{friend.age}}
        </li>
      </ul>
      
      <button @click="student.age++">年龄+1</button>
      <button @click="addGender">添加性别属性，默认男</button>
      <button @click="student.gender='female'">修改性别属性</button>
      <button @click="addFriend">列表首位添加一个朋友</button>
      <button @click="updateFirstFriendName">修改第一个朋友名字为：张三</button>
      <button @click="addHobby">添加一个爱好</button>
      <button @click="updateHobby">修改第一个爱好为：开车</button>
      <button @click="removeSmoke">过滤掉抽烟的爱好</button>
    </div>
    
    <script type="text/javascript">
    const vm = new Vue ({
      el:"#root",
      data:{
        student:{
          name:"Tonny",
          age:"16",
          hobbies:['抽烟','喝酒','烫头'],
          friends:[
            {name:"Janny",age:"18"},
            {name:"Boddy",age:15}
          ]
        }
      },
      methods:{
        addGender(){
          Vue.set(this.student,'gender','male')
        },
        addFriend(){
          this.student.friends.unshift({name:'Jack',age:19})
        },
        updateFirstFriendName(){
          this.student.friends[0].name="张三"
        },
        addHobby(){
          this.student.hobbies.push('学习')
        },
        updateHobby(){
          // this.student.hobbies.splice(0,1,'开车')
          this.$set(this.student.hobbies,0,'开车')
        },
        removeSmoke(){
          this.student.hobbies = this.student.hobbies.filter((h)=>{
            return h != '抽烟'
          })
        }
      }
    })
    </script>
  </body>
</html>